@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap');

/** custom properties **/
:root {
    --yellow: #F4D04E;
    --white: #FFFFFF;
    --gray-500: #6B6B6B;
    --gray-950: #111111;

    --main-font: "Figtree", serif;

    --small-size: 1.4rem;
    --medium-size: 1.6rem;
    --large-size: 2.4rem;

    --small-spacing: .4rem;
    --medium-spacing: .8rem;
    --large-spacing: 1.2rem;
    --xlarge-spacing: 2.4rem;
    
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px**/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    background-color: var(--yellow);
    font-size: 1.6rem;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    line-height: 1.5;
}

/** globals **/
h2, p {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: var(--gray-500);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/** card **/
.card {
    max-width: 38.4rem;
    height: 52.2rem;
    background-color: var(--white);
    border: 1px solid var(--gray-950);
    border-radius: 2rem;
    box-shadow: .8rem .8rem var(--gray-950);
}

.card__img__top {
    margin: var(--xlarge-spacing) auto 0 auto;
    border-radius: 1rem;
}

.card__body {
    padding: var(--xlarge-spacing) var(--xlarge-spacing) 0 var(--xlarge-spacing);
}

.card__button {
    font-size: var(--small-size);
    padding: var(--small-spacing) var(--large-spacing);
    font-weight: 700;
    border: none;
    background-color: var(--yellow);
    border-radius: .4rem;
}

.card__published {
    margin: var(--large-spacing) 0;
    font-size: var(--small-size);
    color: var(--gray-950);
}

.card__heading {
    font-family: var(--large-size);
    font-weight: 800;
    margin-bottom: var(--large-spacing);
    transition: color .3s;
}

.card__heading:hover {
    color: var(--yellow);
    cursor: pointer;
}

.card__description {
    color: var(--gray-500);
    font-size: var(--medium-size);
}

.card__footer {
    margin: var(--xlarge-spacing);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--large-spacing);
}

.card__img__footer {
    width: 3.2rem;
    height: 3.2rem;
}

.card__footer__text {
    font-weight: 700;
    font-size: var(--small-size);
}

/** footer **/
.attribution { 
    font-size: 1.1rem; 
    text-align: center; 
    color: var(--gray-950);
}